HierarchyProgram/HierarchyProgram.sln
HierarchyProgram/.vs/config/applicationhost.config
HierarchyProgram/.vs/HierarchyProgram/v15/Server/sqlite3/storage.ide-wal
HierarchyProgram/.vs/HierarchyProgram/v15/Server/sqlite3/storage.ide-shm
HierarchyProgram/.vs/HierarchyProgram/v15/Server/sqlite3/storage.ide
HierarchyProgram/.vs/HierarchyProgram/v15/Server/sqlite3/db.lock
HierarchyProgram/.vs/HierarchyProgram/v15/.suo
