.comparison-block{
    display: flex;
}

.left{
    flex-grow: 1;
}

.right{
    flex-grow: 1;
}

.criteria {
    border: solid 2px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 50px;
    background-color: beige;
}

.btn-right{
    float:right;
}