
<h1>This is comparison component</h1>


<div class="comparison-block">
    <div class="left criteria">
        {{comparisonElements[firstSelectedCriteria].name}}
    </div>
    <div class="right criteria">
        {{comparisonElements[secondSelectedCriteria].name}}
    </div>
</div>

<div class="navigate-butons">
    <button type="button" class="btn btn-info" (click)="navigatePrevious()" [disabled]="isPreviousButtonDisabled()"> Previous </button>
    <button type="button" class="btn btn-info btn-right" (click)="navigateNext()" [disabled]="isNextButtonDisabled()"> Next </button>
</div>


<h2>Please evaluate your criterias</h2>

<mat-slider class="example-margin"
            [max]="9"
            [min]="0"
            [step]="1"
            [thumb-label]="true"
            [(ngModel)]="value">
</mat-slider>
<span>getScaleText()</span>

