<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hierarchy</title>
    <base href="~/" />
    <link href="https://unpkg.com/&#64angular/material@2.0.0-beta.8/prebuilt-themes/deeppurple-amber.css" rel="stylesheet">

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link href="node_modules/&#64angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
